extends layout
block head
    link(rel='stylesheet', href='/stylesheets/gallery.css')
    script(type='text/javascript', src='/javascripts/gallery.js')
block content
    div#loadingDiv
    div#viewDiv
        table#galleryTable