extends layout
block head
    link(rel='stylesheet', href='//static.sweeteventsjc.com/stylesheets/gallery.css')
    script(type='text/javascript', src='//static.sweeteventsjc.com/javascripts/gallery.js')
block content
    div#loadingDiv
    div#viewDiv
        table#galleryTable
    div#modal
        p=test