extends layout

block head
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type='text/javascript', src='/javascripts/index.js')

block content
    table(onload='make()')#layout
        td#secondCell
            img(src='/images/home/logo.jpg')#logo
            p#welcome Welcome to #{title}
            p#welcome2 Please excuse any hiccups while we fine tune the site.
        td#thirdCell
            table#pictures
                tr
                    td
                        div#slideshow
                            //for image in slideshowImages
                            //    div.slideshow_div(align = 'center')
                            //        img.slideshow_img(src='images/slideshow/' + image)
                tr
                    td(align = 'center')
                        img(src='http://static.sweeteventsjc.com/images/home/static1.jpg').staticImg
                tr
                    td(align = 'center')
                        img(src='http://static.sweeteventsjc.com/images/home/static2.jpg').staticImg
