.sectionName {
    font-size: 25px;
    margin-left: 40px;
}

.section {
    width: 90%;
    /*margin-left: 5%;*/
    /*background: #77d074;*/
}

.header, .footer {
    font-size: 20px;
    margin-left: 80px;
}

.sectionTable {
    font-size: 18px;
    margin-left: 40px;
    border-collapse: collapse;
    /*border-radius: 8px;*/
    /*border: 1px solid #333333;*/
    /*border: 1px solid #000000;*/
}

.sectionTable th tr td {
    border: 1px solid #7C7D7F;
}

tr.sectionRow {
    border: 1px #7C7D7F solid;
}

.sectionRowDark {
    background: #E0E1E5;
    border: 1px #7C7D7F solid;
}

.itemName {
    padding-right: 20px;
}

th, td {
    height: 45px;
}

th {
    background: #5AAE57 !important;
}

tr:nth-child(odd) {
    background: #61b65e;
}

tr:nth-child(even) {
    background: #77d074;
}

td {
    padding-left: 10px;
}

table {
    width: 80%;
    margin: 0 10%;
    font-size: 15px;
    border: 1px solid #3D7B3D;
}

table, th, td {
    border-left: 1px solid #3D7B3D;
    border-collapse: collapse;
}