#logo {
    width: 50%;
    padding-left: 25%;
}

#welcome {
    margin: 30px 0 0 0;
    font-size: 50px;
    text-align: center;
}

#thirdCell {
    width: 20%;
}

#pictures {
    padding-right: 5%;
    width: 20%;
    overflow: hidden;
}

#slideshow {
    border-radius: 8px;
    border: solid #333333;
    /*border-color: #333333;*/
    background-color: #333333;
    width: 540px;
    height: 304px;
}

.slideshow_img {
    margin: 5px 0;
}

.staticImg {
    /*float: right;*/
    padding: 0;
    /*border: solid #333333;*/
    margin-top: 10px;
    border-radius: 8px;
    height: 270px;
    width: 465px;
}