/*table, th, td {*/
/*margin: 0;*/
/*border: 1px solid black;*/
/*}*/

body {
    padding: 50px;
    font-family: "Courgette", Courgette, serif;
    /*background: rgba(252, 251, 187, .8);*/
    background: #F9F9FF;
    font-size: 12px;
    color: #000000;
}

/*p {*/
/*font-size: 25px;*/
/*}*/

#layout {
    padding: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

#firstCell {
    vertical-align: top;
    width: 15%;
    padding-right: 40px;
}

#secondCell {
    width: 100%;
}

#active {
    margin: 0;
    /*background-color: #FF94A0;*/
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 45px 35px !important;
    display: inline-block;
}

#nav {
    padding: 0;
    /*padding-top: 20px;*/
    list-style-type: none;
}

#nav > li {
    margin: 20px 0;
}

#nav > li > a {
    padding: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
}

#nav > li > a:hover {
    /*background-color: #FF94A0;*/
    background-color: #c4c4c4;
    border-radius: 10px;
}