body {
    padding: 50px;
    font-family: "Cookie", Cookie, serif;
    background: #FCFBBB;
    color: #703607;
}

p {
    font-size: 30px;
}

#layout {
    padding: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

#firstCell {
    vertical-align: top;
    width: 13%;
    padding-right: 40px;
}

#secondCell {
    width: 100%;
}

#home {
    margin: 0;
    background-color: #FF94A0;
    padding: 45px 35px;
    display: inline-block;
}

#nav {
    padding: 20px 0 0 0;
    /*padding-top: 20px;*/
    list-style-type: none;
}

#nav > li {
    margin: 20px 0;
}

#nav > li > a {
    padding: 5px;
    text-decoration: none;
    color: #703607;
    font-size: 35px;
}

#nav > li > a:hover {
    background-color: #FF94A0;
}